html {
  background-color: lightyellow;
}

img{
  height: 300px;
  width: 300px;
}

.animalFeature img{
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 3px 3px 3px 3px;
  border: 2px solid gray;
}s

h1{
  text-align: center;
  padding-right: 33%;
}

.animalFeature h3{
  text-align: center;
}

.animalFeature p{
  margin-left: 2%;
  margin-bottom: 10%;
}

p{
  margin-bottom: 50%; /*nothing should happen*/
}
#count, #rambo, #harambe {
  display: none;
}

.jumbotron {
  text-align: center;
}
